LDAP_MODE=

# LDAP_URI=ldaps://ldap.example.com:636
# LDAP_BASE_DN=dc=example,dc=com
# LDAP_BIND_DN=cn=mail-reader,ou=services,dc=example,dc=com
# LDAP_BIND_PW=
# LDAP_USER_FILTER=(&(objectClass=inetOrgPerson)(mail=%u))
# LDAP_USER_ATTR=mail
# LDAP_TLS_CA=/etc/ssl/certs/ca-certificates.crt
# LDAP_TLS_REQUIRE_CERT=demand

# LLDAP_VERSION=v0.6.1
# LLDAP_ADMIN_PASSWORD=
# LLDAP_HTTP_PORT=17170
# LLDAP_LDAP_PORT=3890
# LLDAP_LDAPS_PORT=6360

# LDAP_VMAIL_UID=5000
# LDAP_QUOTA_DEFAULT=1G
# LDAP_QUOTA_ATTR=mailQuota
